*,::before,::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #FCEDDA;
    color: #ff4848;
}
h1{
    text-align: center;
    padding: 25px 0;
    color: #ff4848;
}

.recherche-poke{
    max-width: 700px;
    width: 70%;
    min-width: 450px;
    margin: 30px auto;
    position: relative;
    display: flex;

}

.inp-group{
    width: 100%;
}

.recherche-poke input{
    /* width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-size: 18px; */
    outline:none;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3%;
    color: #333;
    font: 95% Arial,Helvetica,sans-serif;
    font-size: 20px;
    
}

.recherche-poke input:focus{
    box-shadow: 0 0 5px #ff4848;
    padding : 3%;
    border: 3px solid #ff4848;
}


.recherche-poke label{ 
    position: absolute;
    color: #ff4848;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 8px;
    transition: all 0.5s ease-in;
    font-size: 20px;
}

.recherche-poke button {
    margin-left: 5px;
    padding: 15px;

    box-shadow: inset 0px 1px 0px 0px #FCEDDA;
    background-color: #FCEDDA;
    border: 1px solid #ff4848;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    color: #ff4848;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.recherche-poke button:hover {
    color: #FCEDDA;
    background-color: #ff4848;
    transition: 1s;
    border: 1px solid #ff4848;
    box-shadow: inset 0px 1px 0px 0px #ff4848;
}

.recherche-poke:focus-within label,
.recherche-poke.active-input label{
    top: -15px;
    padding-left: 5px;
    color:#ff4848;
}



/* Listes des cartes  */

.container{
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.liste-poke li {
    width: 250px;
    height: auto;
    padding: 15px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.liste-poke h5{
    font-size: 19px;
}

.liste-poke p{
    font-size: 18px;
}

/* Loader animation */
.loader{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.point{
    margin: 0px 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff4848;
    animation: monte 0.3s alternate infinite;
}
.point:nth-child(1){
    animation-delay: 0.1s;
}
.point:nth-child(2) {
    animation-delay: 0.2s;
}
.point:nth-child(3) {
    animation-delay: 0.3s;
}
@keyframes monte {
    100%{
        transform: translateY(-30px);
    }
}